DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=school_uniform
DB_USER=school_uniform
DB_PASSWORD=school_uniform_dev
MYSQL_ROOT_PASSWORD=school_uniform_root_dev

# 本地开发可使用 HTTP；生产环境必须配置为外部手机可访问的 HTTPS 域名。
VITE_QR_PUBLIC_BASE_URL=http://127.0.0.1:5174
